html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f29b3d;
    color: #191919;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: #f29b3d;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 4px 0 4px #7a7373;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}
main {
    padding-top: 75px;  /* Adjust this value based on the height of your header and pushing down the hero image under the nav menu */
}

/* Nav toggle */ 
#nav_toggle:checked~nav {
    display: block;
}

#nav_toggle {
    display: none;
}

.nav_toggle_label {
    font-size: 1rem;
    
}

nav a, #menu a {
    text-decoration: none;
    color: firebrick;
}

img {
    max-width: 90%;
    height: auto;
    padding: 20px 0 15px 0;
    border-radius: 15px; /* Should make the images corners rounded. Dosen't work currently */
}

#link {
    color: firebrick;
    text-decoration: none; /* Removes the underline */
}


#menu {
    font-size: 100%;
    list-style-type: none;
    
}

/* hero image */
#hero {
    height: 50vh; /*  50% of the viewport height */
    background: url("../images/hero_image.jpg") center center/cover no-repeat; 
   
    
}

/* Distance between the sections */
#about,
#trails,
#gear,
#tips,
#contact {
    padding: 0.5rem 0;
    text-align: center;
    max-width: 70vw;
    margin: auto;

}

/* removes the dot in the lists */
li {
    list-style-type: none;
}

/* Distance between nav menu listings */
#menu>li {
    margin-bottom: 1em;
}

/* Makes the title uppercase */
h1 {
    text-transform: uppercase;
    margin-left: 20px;
}

/*Social link */
.social_links {
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    display: flex;
    
}


/* On screens larger than 576px and up) */
@media screen and (min-width: 576px) {
    #hero {
        height: 60vh; 
    }
}

/* On screens larger than (768px and up) */
@media screen and (min-width: 768px) {

    Header
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 3rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav_toggle_label {
        display: none;
    }
    #hero {
        height: 70vh; 
    }

}