/* Body */
body {
    background-color: #f29b3d;
    color: #191919;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

/* Header menu */
header {
    background-color: #f29b3d;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #6B6B6B;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

h1 {
    font-size: 4vw; 
}

/* Title text */
header a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    color: firebrick;
}

main {
    padding-top: 100px;
}

/* Nav bar */
#navbar {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

/* Distance in the nav list */
#navbar>li {
    margin-bottom: 1em;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #f29b3d;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #6B6B6B;
    display: none;
    top: 100%;
}

/* Collapsible menu for mobile */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 10px;
    margin-right: 25px;
}

/* Section images */
img {
    width: 100%;
    height: auto;
    padding: 20px 0 15px 0;
    border-radius: 15px;
    /* Should make the images corners rounded. Dosen't work currently */
}

/* Removes the underline in the header */
#link {
    color: firebrick;
    text-decoration: none;
}

/* hero image */
#hero {
    height: 50vh;
    background: url("../images/hero_image.jpg") center center/cover no-repeat;
    background-size: cover;
}

/* width of the sections */
#about,
#trails,
#gear,
#tips,
#contact {
    max-width: 70vw;
    margin: auto;
}

/* removes the dot in the lists */
li {
    list-style-type: none;
}

/* Makes each section of content more separated by increasing the size */
h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 2rem;
}

/*Social link */
.social_links {
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    display: flex;
    margin-bottom: 10px;
}

/* Form design */
form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: firebrick;
    border-radius: 15px;
    font-size: 130%;
}

/* Survey form style */
#survey-form input[type="text"],
#survey-form input[type="email"],
#survey-form textarea {
    max-width: 90%;
    /* Adjust as per your preference */
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    /* Space between inputs */
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

/* text color for the form */
#survey-form>label {
    color: white;
}

/*Survey form */
#survey-form button.join-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: firebrick;
    color: #ffffff;
    font-size: 1rem;
}

/* Centers the contact form */
#contact_form {
    justify-content: center;
}

/* On screens larger than 480px and up) */
@media (min-width: 480px) {

    /* Head styling */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-top: 0;
    }

    #navbar {
        display: flex;
        letter-spacing: 1px;
    }

    #navbar>li {
        margin-right: 20px;
    }

    .nav-toggle-label {
        display: none;

    }

    /* On screens larger than 576px and up) */
    @media screen and (min-width: 576px) {
        #hero {
            height: 30vh;
        }
    }

    /* On screens larger than (768px and up) */
    @media screen and (min-width: 768px) {
        #hero {
            height: 70vh;
        }
    }
}