body {
    background-color: #f29b3d;
    color: #191919;
    font-family: 'fantasy', sans-serif; /* Font family wont update */    
}
/* Distance between the sections */
#about, #trails, #gear, #tips, #contact { 
    padding: 1.5rem 0;
    text-align: center;
    
}

/* removes the dot in the lists */
li {
    list-style-type: none; 
}
/* hero image */
#hero {
    height: 800px;
    width: 100%;
    background: url("../images/hero_image.jpg") center center/cover;   
    
}


header {
    background-color: #f29b3d;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 4px 0 4px #7a7373;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    list-style-type: none;
}

/** Distance between nav menu listings **/
#menu>li {
    margin-bottom: 1em;
}

h1 {
    text-transform: uppercase;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#header_link {
    color: #000000;        /* Take the color of the parent, in this case, the h1 */
    text-decoration: none; /* Remove the underline */  
}   

/** Nav place in top right corner
nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 1rem 1rem;
    
}

nav a {
    color: #e34d4d;
    text-decoration: none;
    padding: 2rem 1.2rem;
    font-size: 1.2rem;
}
**/


/* Centers the social media logos*/
.social-links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}






/* Large devices (large or landscape screens, 576px and up) */
    @media screen and (min-width: 576px) {

    }

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    
}
